<a href="https://github.com/brennx0r" target="_blank"><img class="icon" src="/images/github-color.svg"></a>
<a href="http://stackoverflow.com/users/3953656/brenna-flood" target="_blank"><img class="icon" src="/images/stackoverflow-color.svg"></a>
<a href="https://twitter.com/brennx0r" target="_blank"><img class="icon" src="/images/twitter-color.svg"></a>